doctype html
html
  head
    title=title
    meta(charset='utf-8')
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    - if(css)
      <link !{css}>
  body
    #app!= content          
    script.
      window.__PRELOADED_STATE__ = !{JSON.stringify(preloadedState).replace(/</g, '\\u003c')}
    script(src=webRoot + '/vendor.bundle.js')
    script(src=webRoot + '/client.bundle.js')
